	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href=" {{'/'}} ">Flasker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('user', name='Bagalamukhi') }}">Bagalamukhi <span class="sr-only">(current)</span></a>
      </li>
      {% if current_user.id == 17 %}
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('admin') }}">Admin</a>
        </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('name') }}">Name</a>
      </li>
            
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('posts') }}">Blog</a>
      </li>

    {% if current_user.is_authenticated %}
        <li class="nav-item dropdown active">

          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">{{ current_user.name }}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('add_post') }}">Add Post</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ url_for('dashboard') }}">Dashboard</a>
            <a class="dropdown-item" href="{{ url_for ('update', id=current_user.id)}}">Update User</a>       

            <div class="dropdown-divider"></div>

            <a class="dropdown-item " href="{{ url_for('logout') }}">Logout</a>
            </div> 
        </li>  

    {% else %}
        <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">Login / Register </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ url_for('login') }}">Login</a>
            <a class="dropdown-item" href="{{ url_for('add_user') }}">Register</a>
          </div>                    
        </li>
    {% endif %}

      
    </ul>
    <form method="POST" action="{{ url_for('search')}}" class="form-inline my-2 my-lg-0">
      {{ form.hidden_tag() }}
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search", name="searched">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>