{% extends 'base.html' %} 


{% block content %}



<div class="container">
  

	<div class="shadow-lg p-3 mb-5 bg-white rounded">
<ul>
		{{ post.date_posted }} | 
		{{ post.poster.name }}
<li><h2>{{ post.title }} </h2>
		 
		 {{ post.slug }} <br/>  <br/>
		 
		{{ post.content|safe }} </li><br/>
		

		<br>
		<a href="{{ url_for('posts', id=post.id) }}" class="btn btn-outline-success ">Back to Blog Posts</a> 
		
		{% if post.poster.id == current_user.id %}
		<a  href="{{ url_for('edit_post', id=post.id) }}" class="btn btn-outline-success">Edit</a>


		<a  href="{{ url_for('delete_post', id=post.id) }}" class="btn btn-outline-danger float-right">Delete</a>
		{% endif %}

		
			 
		<br/>

	</div>
</ul>

	
		
</div>

{% endblock %}	